<%= @pool.name %>

<ul>
  <% @participants.each do |p| %>
    <li>
      <% if p.companion_id? %>
        <p style="margin: 1vh 0 0 0;">n°<%= p.id %> - <%= p.first_name %> <%= p.last_name %> maqué avec n°<%= p.companion_id %></p>
      <% else %>
        <p style="margin: 1vh 0 0 0;">n°<%= p.id %> - <%= p.first_name %> <%= p.last_name %></p>
      <% end %>
      <%= link_to 'edit', pool_participant_inject_model_path(@pool, p), remote: true, class: 'simple-modal-btn' %>
      <%= link_to "destroy", pool_participant_path(@pool, p), method: :delete, remote: true %>
    </li>
  <% end %>
</ul>

<%= simple_form_for [@pool, @participant], remote: true do |f| %>
  <%= f.input :first_name, placeholder: "Prénom", label: false %>
  <%= f.input :last_name, placeholder: "Nom", label: false %>
  <%= f.input :email, placeholder: "Email", label: false %>
  <%= f.input :companion_id, collection: @participants, label_method: :first_name, value_method: :id, :label => "Conjoint", include_blank: true%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit 'Ajouter le participant' %>
<% end %>

<%= simple_form_for [@pool, @draw], remote: true do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit "Créer un tirage" %>
<% end %>

<h2>Les tirages (<%= @pool.draws.length %>)</h2>

<ul>
  <% @draws.each do |draw| %>
    <li>
      <ol>
        <p>nombre de gifters : <%= draw.gifters.count %></p>
        <p>nombre de receivers : <%= draw.receivers.count %></p>
        <% draw.gifters.each do |gifter| %>
          <li>
            <% if gifter.receiver.nil? %>
              <p><%= gifter.participant.first_name %> offre à apparemment personne</p>
            <% else %>
              <p><%= gifter.participant.first_name %> offre à <%= gifter.receiver.participant.first_name %></p>
            <% end %>
          </li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>


<!-- SIMPLE MODAL -->
  <div class="simple-modal-background modal-hidden-first">
    <div class="simple-modal-container">
      <div class="close-simple-modal-container">
        <p class="close-simple-modal-btn"><i class="far fa-times-circle close-simple-modal-i"></i></p>
      </div>
      <div class="simple-modal-content">

      </div>
    </div>
  </div>
<!-- SIMPLE MODAL -->
